node_modules

*.pkl
*.nt
*ttl

/data/resources/foodcom/recipes/*.json
/data/resources/foodcom/recipes/*.csv
/data/resources/foodcom/ingredients/*.json
/data/resources/foodcom/ingredients/*.csv
/data/resources/foodcom/rdf-data/*.json

/data/resources/allrecipes/ingredients/*.json
/data/resources/allrecipes/rdf-data/*.json


/data/solr/*.json
